body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .login-form, .signup-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  
  h1 {
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    margin-bottom: 5px;
    display: block;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #0f172a;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .btn-google, .btn-facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .btn-google {
    background-color: #ffffff;
  }
  
  .btn-facebook {
    background-color: #1877F2;
    color: #fff;
  }
  
  .social-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .divider {
    text-align: center;
    margin: 15px 0;
  }
  
  .divider span {
    background-color: #f4f4f9;
    padding: 0 10px;
  }
  
  .signup-option, .login-option {
    text-align: center;
    margin-top: 15px;
  }
  